@import "tailwindcss";

body {
  background: #f5f7fb;
  font-family: sans-serif;
}
@custom-variant dark (&:where(.dark, .dark *));

*{
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}